# {{ ansible_managed }}

ssl_protocols {{ nginx_ssl_protocols }};
ssl_ciphers '{{ nginx_ssl_ciphers }}';
ssl_prefer_server_ciphers on;

ssl_session_timeout {{ nginx_ssl_session_timeout }};
ssl_session_cache {{ nginx_ssl_session_cache }};
ssl_session_tickets off;

ssl_stapling {{ 'on' if nginx_ssl_stapling else 'off' }};
ssl_stapling_verify {{ 'on' if nginx_ssl_stapling_verify else 'off' }};
