# {{ ansible_managed }}

{% for ip in nginx_trusted_proxy_ipv4 -%}
set_real_ip_from {{ ip }};
{% endfor -%}
{% for ip in nginx_trusted_proxy_ipv6 -%}
set_real_ip_from {{ ip }};
{% endfor -%}

real_ip_header {{ nginx_trusted_proxy_header }};
