<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<title>Oops</title>
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<style>
			body {
				margin: 0;
				padding: 5rem;
				font-size: 1.4rem;
				background: #fff;
				color: #000;
				font-family: sans-serif;
			}
			h1 {
				margin: 0 0 .6rem 0;
				font-weight: lighter;
				font-size: 2em;
			}
			p {
				margin: 0;
				padding: 0;
				font-weight: lighter;
				color: #555;
			}
		</style>
	</head>
	<body>
