	location / {
		proxy_pass {{ webapp.destination | default('localhost:80') }};
		proxy_set_header X-Proxy {{ inventory_hostname }};
		proxy_set_header X-Real-IP $remote_addr;
		proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
		proxy_set_header X-Forwarded-Proto $scheme;
		{% if webapp.proxy_host is defined -%}
		proxy_set_header Host {{ webapp.proxy_host }};
		{% endif -%}
		{% if webapp.websockets is defined and webapp.websockets -%}
		proxy_http_version 1.1;
		proxy_set_header Upgrade $http_upgrade;
		proxy_set_header Connection "upgrade";
		{% endif -%}
		proxy_read_timeout {{ webapp.read_timeout | default(nginx_proxy_read_timeout) }};
		proxy_send_timeout {{ webapp.send_timeout | default(nginx_proxy_send_timeout) }};
	}
