	location / {
		default_type text/plain;
		expires 1y;
		return 301 {{ webapp.destination | default(inventory_hostname) }}{% if webapp.keep_uri is defined and webapp.keep_uri %}$request_uri{% endif %};
	}
