	root /srv/web/{{ user.key }}/{{ name }};
	try_files $uri $uri/ =404;

	access_log /var/log/web/{{ user.key }}/{{ name }}_access.log combined;
	error_log /var/log/web/{{ user.key }}/{{ name }}_error.log error;

	expires {{ webapp.cache | default('1m') }};

	location /internal {
		internal;
		auth_basic off;
		alias /etc/nginx/internal;
	}

	{% if webapp.gzip_static is defined and webapp.gzip_static -%}
	gzip_static on;
	{% endif -%}

	error_page 401 {{ webapp.error_401 | default('/internal/401.html') }};
	error_page 403 {{ webapp.error_403 | default('/internal/403.html') }};
	error_page 404 {{ webapp.error_404 | default('/internal/404.html') }};
	error_page 410 {{ webapp.error_410 | default('/internal/404.html') }};
	error_page 500 {{ webapp.error_500 | default('/internal/500.html') }};
	error_page 502 {{ webapp.error_502 | default('/internal/500.html') }};
	error_page 503 {{ webapp.error_503 | default('/internal/503.html') }};
	error_page 504 {{ webapp.error_504 | default('/internal/500.html') }};

	{% if webapp.additional_config is defined and webapp.additional_config|length > 0 -%}
	{% for config in webapp.additional_config -%}
	include {{ config }};
	{% endfor -%}
	{% endif -%}

	{% if webapp.directory_index is defined and webapp.directory_index -%}
	autoindex on;
	{% endif -%}

	{% if webapp.webdav is defined and webapp.webdav -%}
	dav_methods PUT DELETE MKCOL COPY MOVE;
	dav_access group:r all:r;
	{% endif -%}
