# {{ ansible_managed }}

user nginx {{ web_group | default("nginx") }};
worker_processes {{ ansible_processor_vcpus }};

error_log /var/log/nginx/error.log warn;

events {
	worker_connections 1024;
}

http {
	server_tokens off;

	default_type application/octet-stream;

	access_log off;
	error_log /dev/null crit;

	gzip on;
	gzip_comp_level 2;
	gzip_min_length 1000;
	gzip_types application/x-javascript text/xml text/css application/xml text/plain application/json image/svg+xml;
	gzip_vary on;
	gzip_proxied any;

	open_file_cache max=1000 inactive=20s;
	open_file_cache_valid 30s;
	open_file_cache_min_uses 2;
	open_file_cache_errors on;

	etag off;
	
	charset "utf-8";
	log_not_found off;

	sendfile on;
	tcp_nopush on;
	tcp_nodelay on;
	if_modified_since before;

	client_body_buffer_size 10K;
	client_header_buffer_size 1k;
	client_max_body_size 8m;
	large_client_header_buffers 2 1k;

	client_body_timeout 12;
	client_header_timeout 12;
	keepalive_timeout 15;
	send_timeout 10;

	server_names_hash_bucket_size 64;

	server {
		listen {{ nginx_http_port }};
		listen [::]:{{ nginx_http_port }};
		listen {{ nginx_https_port }} ssl http2;
		listen [::]:{{ nginx_https_port }} ssl http2;

		ssl_certificate /etc/ssl/snakeoil.crt;
		ssl_certificate_key /etc/ssl/snakeoil.key;

		location / {
			default_type text/plain;
			expires 1y;
			return 400 "You have reached the webserver at {{ inventory_hostname }}!";
		}

		include /etc/nginx/extra.d/robots.conf;
		include /etc/nginx/extra.d/letsencrypt.conf;
	}

	include /etc/nginx/conf.d/*.conf;
}
