   server_name {{ name }}.{{ user.key }}.{{ inventory_hostname }};                                                                                                                                                                          
   {% if webapp.domains is defined -%}
   {% for host in webapp.domains -%}
   server_name {{ host }};
   {% endfor -%}
   {% endif %}

   include /etc/nginx/extra.d/letsencrypt.conf;
   {% if webapp.deny_robots is defined and webapp.deny_robots -%}
   include /etc/nginx/extra.d/robots.conf;
   {% endif -%}

	add_header Referrer-Policy "{{ webapp.referrer_policy | default(nginx_referrer_policy) }}" always;
	add_header X-Content-Type-Options "nosniff" always;
	add_header X-XSS-Protection "1; mode=block" always;
	add_header X-Frame-Options "{{ webapp.frame_options | default(nginx_frame_options) }}" always;
	add_header Content-Security-Policy "{{ webapp.content_security_policy | default(nginx_content_security_policy) }}" always;
	add_header X-Server "{{ inventory_hostname_short }}" always;
