# {{ ansible_managed }}

{% for name, webapp in user.value.webapps.items() -%}
# Webapp {{ name }}
server {
	{% if not webapp.force_ssl is defined or not webapp.force_ssl -%}
	listen {{ nginx_http_port }};
	listen [::]:{{ nginx_http_port }};
	{% endif -%}
   listen {{ nginx_https_port }} ssl http2;
   listen [::]:{{ nginx_https_port }} ssl http2;
    
	ssl_certificate /var/lib/acme/live/{{ name }}.{{ user.key }}.{{ inventory_hostname }}/fullchain;
	ssl_certificate_key /var/lib/acme/live/{{ name }}.{{ user.key }}.{{ inventory_hostname }}/privkey;
	
	{% if webapp.auth is defined -%}
	auth_basic "{{ webapp.auth.name | default('protected area') }}";
	auth_basic_user_file /srv/web/{{ user.key }}/{{ name }}.htpasswd;
	{% endif -%}

	{% if webapp.force_ssl is defined and webapp.force_ssl -%}
	add_header "Strict-Transport-Security" "max-age=31536000; includeSubDomains; preload" always;
	{% endif -%}

	{% include 'webapps-shared.j2' %}
	{% include 'types/'+webapp.type+'.j2' %}
}
{% if webapp.force_ssl is defined and webapp.force_ssl -%}
server {
	listen {{ nginx_http_port }};
	listen [::]:{{ nginx_http_port }};

	location / {
		return 301 https://$host$request_uri;
	}
	
	{% include 'webapps-shared.j2' %}
}
{% endif -%}

{% endfor -%}
